<!--- a collection of entity objects that demonstrate how to use these complementary tags --->
<sw:entity-list>
    <!--- entities="['Product', 'Sku']" properties="[['productID','productName', 'productCode'],['skuID', 'skuCode']]" template="none" debug="on" --->
    <!--- Get order items on an order --->
    <sw:entity entity="Order" properties="['orderID', 'orderNumber', 'calculatedTotal']" id="402828d74f88f020014f8ab0ee960329">
       <ul>
           <li>{{Collection.Order.orderID}}, {{Collection.Order.orderNumber}}, {{Collection.Order.calculatedTotal}}</li>
       </ul>
    </sw:entity>
    
    <!--- Display Product Data using three columns returning a specific record by ID --->
    <sw:entity entity="Product" id="402828ee4fb87952014fbd327a060024" properties="['productID', 'productCode', 'productDescription']">     
        <table class="table table-striped table-bordered table-condensed">
        	<thead>
        		<tr>
        			<td>Product Code</td>
        			<td>Product ID</td>
        			<td>Description</td>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
        			<td>{{Collection.Product.productCode}}</td>
                    <td>{{Collection.Product.productID}}</td>
                    <td>{{Collection.Product.productDescription}}</td>
        		</tr>
        	</tbody>
            <tfoot>
            	<tr>
            		<td colspan="3">Example entity display.</td>
            	</tr>
            </tfoot>
        </table>    
    </sw:entity>
    
    <!--- all sku records using default columns. Notice the data is used later outside of this entity tag. --->
    <sw:entity entity="Sku" debug="on" filter="{propertyIdentifier: 'skuCode', comparisonOperator: '=', value:'test5-1'}"></sw:entity>
    
    <!--- Access data from any of the collection entity objects outside of there respective tags  --->
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <td>Sku ID</td>
                <td>Sku Code</td>
                <td>Image File</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{Collection.Sku.skuID}}</td>
                <td>{{Collection.Sku.skuCode}}</td>
                <td>{{Collection.Sku.imageFile}}</td>
            </tr>
        </tbody>
       <tfoot>
            <tr>
                <td colspan="3">example of returning a sku record using default columns with a filter on skuCode set</td>
            </tr>
       </tfoot>
   </table>
    
    <!--- Display Account Data using list, returning all the records. --->
    <sw:entity entity="Account" properties="['accountID', 'firstName', 'lastName', 'primaryAddress.accountAddressID']"> 
        <div ng-repeat="account in Collection.Accounts">
            <ul class="list-group">
            	<li class="list-group-item">
            		<b>Account:</b>:{{account.firstName}} {{account.lastName}} - Account Address ID: {{account.primaryAddress_accountAddressID}}
                </li>
            </ul>
        </div>
    </sw:entity>
    
   
</sw:entity-list>











<span ng-if="collection.failed === true">Bad Collection Config or Bad Data</span>
<div  ng-if="!collection.failed && collectionObject" class="table-responsive s-filter-table-box" >
	<table class="table table-bordered table-hover" >
	    <thead >
	        <tr >
	            <th style="">Row</span></th>
	            <th ng-repeat="(key,column) in collectionConfig.columns" class="s-sortable" ng-bind="column.displayTitle || column.title" title="{{column.title}}" ng-show="column.isVisible"></th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
			<tr ng-repeat="pageRecord in collection.pageRecords">
	            <td style=""> 
	            	<sw-selection
	            		data-id="pageRecord[collectionObject.$$getIDName()]"
						data-is-radio="isRadio"
	            		data-selectionid="collectionSelection"
	            		data-selection="pageRecord[collectionObject.$$getIDName()]"
	            	></sw-selection>
	            </td>
	            <td ng-repeat="(key,column) in collectionConfig.columns" ng-bind="pageRecord[replaceAll(column.propertyIdentifier.substring(column.propertyIdentifier.indexOf('.')+1,column.propertyIdentifier.length),'.','_')]"  ng-show="column.isVisible"></td>
	            <td class="s-edit-elements">
	                <a class="btn btn-default btn-xs" href="{{'?slatAction=entity.detail'+collection.collectionObject + '&' + collectionObject.$$getIDName() + '=' + pageRecord[collectionObject.$$getIDName()]}}" target="_self"><i class="glyphicon glyphicon-eye-open"></i></a>
	                <a class="btn btn-default btn-xs" href="{{'?slatAction=entity.edit'+collection.collectionObject + '&' + collectionObject.$$getIDName() + '=' + pageRecord[collectionObject.$$getIDName()]}}" target="_self"><i class="glyphicon glyphicon-pencil"></i></a>
	            </td>
	      	</tr>
	    </tbody>
	</table>
</div>
